.Feedback {
  padding: 16px 8px 16px;

  h1 {
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .statistics {
    li {
      margin-bottom: 12px;
    }
  }

  p {
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .buttons {
    padding-left: 10px;

    button {
      padding: 5px 14px 2px;
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 0.4px;
      border: 1px solid #ccc;
      border-radius: 7px;
      background-color: #fff;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12),
        0px 0px 3px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
      margin-bottom: 48px;
      cursor: pointer;
      outline: none;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:active {
        background-color: rgb(70, 134, 255);
      }
    }
  }
}
